[2016-06-27 16:53] escobar5 opened #2 "It's not working on El Capitan"
I just tried to install following instructions in readme, but flashlight doesn't work, sometimes it does nothing, and sometimes spotlight freezes. Any ideas?

[2016-06-27 18:07] escobar5 commented on #2
Nevermind, It seems I needed to enable system protection again (csrutil enable) for it to work.

[2016-06-27 18:38] escobar5 commented on #2
Well, not exactly, it just worked for one time, then its crashing again.

I'm on OS X 10.11.5

[2016-06-27 21:11] w0lfschild commented on #2
How is it crashing? Is it when you're using a specific plugin or just as soon as you open Spotlight?

[2016-06-28 21:46] escobar5 commented on #2
When using any plugin, emoji for example, it freezes, then restarts

[2016-07-07 04:16] 99z opened #3 "Some plugins are not functional"
Have mySIMBL installed with no issues. SpotlightSIMBL appears in the Plugins list, and `Console.app` logs a "Hello from Flashlight!" message. Other plugins installed via mySIMBL are working fine.

No crashes or anything when installing/uninstalling plugins. Plugins simply don't do anything - installing any plugin, e.g. the Emoji plugin, then searching for an emoji do nothing. Spotlight behaves as

[2016-07-07 04:19] 99z commented on #3
Noticing now that certain plugins seem to work? Quick Web Search is working, so is Create a Note. Could this be an issue on the plugin end?

[2016-07-07 15:47] w0lfschild commented on #3
Not sure sounds like a plugin issue. I'm sure some have probably broken since they were originally implemented.

Make sure you're also using the right keywords to trigger the plugin. The emoji plugin works fine for me on 10.12

![screen shot 2016-07-07 at 8 45 24 am](https://cloud.githubusercontent.com/assets/1920148/16659523/4ae1fe66-441f-11e6-8610-0050cdd1dcfe.png)

[2016-07-07 16:05] 99z commented on #3
Are there any sort of logs I'd be able to examine? Really strange I'm having issues - here's Quick Web Search working:

![screen shot 2016-07-07 at 11 59 35 am](https://cloud.githubusercontent.com/assets/7397825/16660039/c2d7577a-443a-11e6-9ba4-4bad243a6214.png)

And here's emojis not working:

![screen shot 2016-07-07 at 11 59 57 am](https://cloud.githubusercontent.com/assets/7397825/16660051/d13

[2016-07-26 01:26] Sajonara commented on #2
Same here. Spotlight just disappears, after I reboot and SIP is enabled again. I have to reboot, disable it, install everything again and it's working once, but when I restart my machine or even wake it up from sleep Spotlight crashes and I can no longer use Flashlight. But I am under macOS Sierra.

Update: I noticed, that when I restart the machine, everything is working correctly again. The syst

[2016-07-26 02:46] w0lfschild commented on #2
@Sajonara

Instead of doing all that just open terminal and run:

`osascript -e "tell application \"Spotlight\" to inject SIMBL into Snow Leopard"`

I need to update mySIMBL for 10.12

[2016-07-26 06:06] Sajonara commented on #2
I did what you told me to do. And I rebooted my system. It seems to work just fine. Awesome. Thanks a lot.

So just to understand it, you're using an AppleScript snippet to inject SIMBL, but why do you address "Snow Leopard"? And as I don't have too much knowledge of it, how is "Dock" involved into this?

[2016-07-26 06:14] w0lfschild commented on #2
Whoops that was supposed to say `Spotlight` instead of `Dock`.

It's Snow Leopard because that's the keyword that SIMBL is written to accept.

[2016-07-27 16:22] ghost commented on #2
Tried the Terminal command, rebooted. Flashlight works the FIRST time I open the search bar. If I try it again, the bar vanishes after af few seconds (almost like a crash), and when pulling it up again the Flashlight stuff is gone. I'm still on El Capitan, hope you can help (can I log something for you?) Cheers.

[2016-07-31 08:25] Ru7z opened #6 "No found plugins in mySIMBL"
Hi.
I've installed mySIMBL.But i fount that there is no plugins in mySIMBL.What should i do?

![](http://oai8l5dzh.bkt.clouddn.com/87D4E048-040A-4604-8F1F-2386D75CE54D.png)

[2016-08-02 23:47] w0lfschild commented on #6
Well have you opened flashlight as well? If you have then maybe something is preventing the file from being installed.

Make sure that the folder **`/Library/Application Support/SIMBL/Plugins/`** exists and you can manually install the plugin from **`/Applications/Flashlight.app/Contents/Resources/SpotlightSIMBL.bundle`**

Hope that helps.

[2016-08-02 23:49] w0lfschild commented on #2
Well it probably is crashing. You do not need to reboot to reload Flashlight though.

Just run `osascript -e "tell application \"Spotlight\" to inject SIMBL into Snow Leopard"` from terminal and it will be re-applied.

[2016-08-03 00:23] Ru7z commented on #6
Thanks a lot.

[2016-08-03 00:23] #6 closed, assigned to nobody

[2016-08-03 05:52] w0lfschild commented on #2
Update out for mySIMBL (v0.3.0) which should now load into Spotlight automatically.

[2016-08-03 05:55] w0lfschild commented on #3
Maybe try deleting your flashlight plugins `~/Library/FlashlightPlugins` and re-installing?

[2016-08-03 06:20] ghost commented on #2
Thanks, will try updating (and did use the command actually, much easier
yes ;) )

Cheers

On 3 Aug 2016 7:52 a.m., "Wolfgang Baird" notifications@github.com wrote:

[2016-08-03 13:48] ghost commented on #2
Tried to update. Still the crashing issue. The only plugin that actually do work at all times is the quick web search plugin. All others crash the Spotlight search bar after I type a few letters of the keyword, (emoji, shutdown etc.). Not really sure what can be done about this, it seems both mySIMBL and Flashlight installs correctly, I followed the instructions re. system integrity disable etc. o

[2016-08-03 17:04] w0lfschild commented on #2
Is there a crash dialog that pops up? Or any information in console related to the crashing?

[2016-09-17 18:11] jooize opened #7 "Triggering Open URL plugin crashes Spotlight on Sierra"
## Reproduce
- macOS Sierra 10.12 (16A323)
- mySIMBL 0.3.1
- Flashlight 1.0.3
1. Install Open URL plugin.
2. Type `twitter.com` in Spotlight.
3. Spotlight crashes and restarts.
4. Uninstall Open URL plugin.
5. Type `twitter.com` in Spotlight.
6. Normal Spotlight behavior.

[2016-09-19 01:36] coreonyx commented on #3
My Weather Plugin not working as well

<img width="683" alt="test" src="https://cloud.githubusercontent.com/assets/6238633/18620807/401c2704-7e5d-11e6-92e3-1a2594bcdfb6.png">

[2016-09-19 08:19] coreonyx commented on #3
probably **weather.html** didn't get the value passed from the **plugin.py**

[2016-09-27 08:36] funkyLover commented on #7
the same issue..
this behavior happen with all the flashlight plugin installed

[2016-10-06 17:00] Bisewski commented on #7
Sometimes it's hiding the action too:
![screen shot 2016-10-06 at 13 59 24](https://cloud.githubusercontent.com/assets/1869755/19162156/28b7e72e-8bcd-11e6-8425-6a9e14e080c5.png)

[2016-10-07 10:26] drviver opened #8 "Sierra 10.12 not working anymore"
On OSX Sierra 10.12 with the newest Software updates installed, it doesn't work anymore
mySIMBL is working correctly for different tweaks but not Flashlight
It says the plugin is active but there is no difference in Spotlight no matter what Flashlight plugins I install
Tried full reinstall but don't change anything

[2016-10-08 17:45] #2 closed, assigned to w0lfschild

[2016-10-08 17:46] w0lfschild commented on #3
Yes some plugins are broken. I probably won't personally be doing any work to fix any plugins.

[2016-10-08 17:48] w0lfschild commented on #8
Not sure what the issue is for you it's working for me on 10.12.1 Beta (16B2338c).

[2016-10-11 19:55] jingxinxin commented on #8
![image](https://cloud.githubusercontent.com/assets/6293249/19286284/aad7cae2-902f-11e6-8487-9cfe9d887858.png)
On OSX sierra 10.12

[2016-10-11 19:58] drviver commented on #8
Disable System Integrity, thats simple

[2016-10-22 09:17] mollierobbert commented on #8
Works fine on Sierra after disabling SIP. Issue should be closed.

[2016-10-26 12:48] fatihturan commented on #7
I have a problem similar to @jooize. When I write a "w" letter then Spotlight crashing. You can check it by this screencast: http://jmp.sh/JiTijZD

[2016-10-31 10:30] FradSer commented on #8
Works fine on Sierra.

[2016-11-08 15:43] J7mbo opened #9 "Terminal Plugin not working"
I've seen that you won't be doing any work to fix plugins, but I thought I'd mention this as you've accepted PRs for the terminal one so it should be working, but for me it's not.

<img width="677" alt="screen shot 2016-11-08 at 16 42 03" src="https://cloud.githubusercontent.com/assets/2657310/20105558/50bc2f86-a5d2-11e6-91ee-8bad99079b4d.png">

<img width="599" alt="screen shot 2016-11-08 at 16 4

[2016-11-08 19:31] w0lfschild commented on #9
I would have to update the application for any plugin fixes to be applied.

[2016-11-08 19:31] #8 closed, assigned to w0lfschild

[2016-11-08 19:33] w0lfschild commented on #7
Yeah I didn't update any plugins, so this isn't surprising to me. I doubt I'll have the time/knowledge to be updating the existing plugins.

[2016-11-09 17:51] waxfingers commented on #9
it works 4 me; have to to open and reinject w mySIMBL each start up though

[2016-11-13 00:37] nzhl opened #10 "Can I use python3 to write the plugin.py ?"

[2016-12-14 07:45] morfinrider opened #11 "Does not seem to work on El Capitan!"
I installed your fork of Flashlight on El Capitan and then installed some common plugins like IS IT UP?, SHOW HIDDEN FILES, and many more. None of the plugins seem to work. When I type in Spotlight search, default Spotlight search works. Can you help resolve? TIA!

[2016-12-15 20:34] w0lfschild commented on #11
Have you installed [mySIMBL](https://github.com/w0lfschild/mySIMBL) first? Flashlight needs mySIMBL properly installed to function.

[2016-12-29 05:02] ghost opened #13 "plugin's run function is terminated early"
I am writing a plugin at the moment, it tries to show an alert and loop an alarm sound at the same time.

However, after a couple of repetitions, the alarm sound is cut off.

I believe that this is because flashlight closes the python process, or something similar, because my code works (runs forever until I initiate its termination) when I test it from the command line.

[2016-12-29 05:11] ghost commented on #13
Also, I've noticed that trying to wait (using `time.sleep`) for longer than about 25 seconds doesn't work either. The script just stops.

It looks like flashlight terminates scripts early if they take longer than a certain time period to complete.

Is there any way for me to circumvent this issue for my own plugin which relies on executing code for long periods of time?

[2016-12-29 05:19] theonlygusti commented on #10
i've been using python 3 the whole time... or at least I think I have been :/

[2017-01-02 06:00] #11 closed, assigned to w0lfschild

[2017-01-03 18:54] ghost commented on #13
Hey @w0lfschild , for my own plugin I found a way to circumvent this.

It is possible to get past the 30-second kill by forking the script.

Please don't remove this capability.

[2017-01-03 18:56] ghost opened #14 "Uses other app's icons in results"
![](http://i.cubeupload.com/ItxCkO.png)

See how it uses the icon from the second item, spotlight's suggestion, rather that the icon of the plugin I want.

Is there a way for it to always use the app of the plugin? I've noticed that flashlight plugins never get their icons shown in the right of the spotlight window, but I'd love this feature.

[2017-01-12 17:41] ghost opened #16 "How do I add my own plugins?"
I've been developing some plugins for Flashlight, and soon at least one of them will be ready to share.

However, I don't know how to actually add my plugin to Flashlight.

I don't find the instructions very clear:

Do you mean fork and then submit a pull request?

[2017-01-14 19:06] kxxoling opened #17 "Flashlight crashed if I entered `w` as the first word."
It works after I uninstalled both wikipedia plugin and weather plugin. It does not work if I only uninstall  one of them.  Log here:

[code]

I'm using macOS 10.12 the newest on Macbook 2016 15'.

[2017-01-14 21:31] MatthD commented on #17
Hello,

This is the same bug when we want to use man : It just crash

[2017-01-15 05:17] kxxoling commented on #17
I found more crashes if I input `sh` or `dd`, it's also solved by uninstalling related plugins. I think there should be some process to prevent it just crashing when there's error with plugins.

[2017-01-17 00:43] w0lfschild commented on #16
Yes. Look at any of the closed pull requests for an example.

https://github.com/w0lfschild/Flashlight/pulls?q=is%3Apr+is%3Aclosed

[2017-01-21 22:52] w0lfschild commented on #17
Okay I know why this is happening but this whole project in general is going to need some updating which I probably won't have to much time for, at least not anytime soon.

This issue is because of a change in `SPGroupHeadingResult` from

`- (id)initWithDisplayName:(id)arg1 focusString:(id)arg2`
to
`- (id)initWithDisplayName:(id)arg1 keyID:(id)arg2 focusString:(id)arg3`

[2017-01-21 22:52] #16 closed, assigned to w0lfschild

[2017-01-21 22:53] w0lfschild commented on #9
@J7mbo What version of macOS?

[2017-01-25 21:22] mrtmiller opened #20 "Weather plugin does not work"
Hi there, been using Flashlight on a brand new rMBP 2015, everything updated. Pretty much first thing I did was install mySIMBL and Flashlight - and everything works so far, except for the weather plugin.

"How's the weather in XXX, yy?" returns the following:

Any thoughts?

[2017-01-25 21:39] tsimmons commented on #20
The weather plugin doesn't work out of the box. I had to modify it a bit to make it work (changes in openweathermap's policy require an API ID to use the service.) I could *post* the changes if you're interested.

[2017-01-25 21:43] mrtmiller commented on #20
Is an API ID easy to ahold of? I'm above average technical, so try me :p

[2017-01-25 21:52] tsimmons commented on #20
Yup. Goto http://openweathermap.org/ and signup, get your ID. I'm attaching a diff for the changes to ~/Library/FlashlightPlugins/weather.bundle/weather.html

Insert your API ID in place of INSERT_YOUR_APP_ID in the diff before applying.

[weather.diff](https://gist.github.com/tsimmons/75165b26cc2688cf9141a8a32af667bc)

[2017-01-26 19:34] mrtmiller commented on #20
Thanks that worked! It took awhile for me as a complete Mac newb to find out how to patch files with terminal but hey, learning by doing haha.

[2017-02-01 07:38] siningsun opened #21 "failed to install almost all the plugins in flashlight"
I just followed all the installing step described in READ.md. And my system version is 10.12.1.But I can't install any plugins online in flashlight.
<img width="596" alt="screen shot 2017-02-01 at 15 36 36" src="https://cloud.githubusercontent.com/assets/25474227/22498579/43a2ac62-e894-11e6-89c5-010f93903649.png">

[2017-02-01 07:50] siningsun commented on #21
sorry, I am afraid I was misunderstood before.They are installed already.Sorry guys.

[2017-02-01 07:51] #21 closed, assigned to nobody

[2017-02-10 16:28] manegame commented on #17
For me on MacOS Sierra 10.12.3 this is also happening for strings "/", "at", "cal", "man", "tr", "log", any string containing ".", and more.

[2017-02-14 14:08] J7mbo commented on #9
@w0lfschild Sorry for the delay in reply. I haven't tried this since, but I'm always using the latest version. As of right now: 10.12.3

[2017-02-17 09:53] avncharlie opened #23 "More options for the Settings API"
I am making a plugin that would need a list of checkboxes, and a slider.
How would this be declared in `options.json`?

Somethings like this:
<img width="780" alt="screen shot 2017-02-17 at 8 51 22 pm" src="https://cloud.githubusercontent.com/assets/24058782/23060711/02df8968-f553-11e6-8c92-5056192ab38b.png">
for the list of checkboxes.

Thank you.

[2017-02-19 08:22] Roy75117 commented on #20
I follow this post(apply diff and replace with my API ID) but it is still in vain. It there any other workaround to fix this issue?

[2017-02-20 16:22] tsimmons commented on #20
What do you see in the Spotlight preview window? Occasionally openweathermap.org returns *502 Bad Gateway* if they are under load and if that is the case, you will usually see the URL displayed instead of the weather or the "Loading" screen.

[2017-02-20 21:26] Roy75117 commented on #20
![2017-02-21 06 25 41](https://cloud.githubusercontent.com/assets/6182550/23142294/9da4a6a6-f7fe-11e6-8242-7a5b0cdc1860.png)

I only see Loading instead of any other error

[2017-02-20 21:58] tsimmons commented on #20
I suspect you haven't either made the changes properly or you need to reboot.

<img width="687" alt="screen shot 2017-02-20 at 3 57 07 pm" src="https://cloud.githubusercontent.com/assets/366120/23143127/5c386e56-f785-11e6-8966-ec9cd6411b70.png">

[2017-02-21 11:01] Roy75117 commented on #20
I modified the wrong file.
It is weather.bundle but weather.disabled-bundle.
Now issue fixed. Thanks so much

![2017-02-21 20 01 25](https://cloud.githubusercontent.com/assets/6182550/23162250/8d37c452-f870-11e6-9570-101114bcc389.png)

[2017-03-02 06:47] hh253996728 commented on #20
@mrtmiller Sorry, still a little confused about how to apply weather.diff to ~/Library/FlashlightPlugins/weather.bundle/weather.html
I'm such a Mac newb. 😂😂😂

[2017-03-07 02:15] Ngalstyan4 commented on #17
@w0lfschild could you please at least share an outline of what needs to be done to fix the issue and someone from the community will contribute a patch?
I am personally willing to do this provided I understand the problem.

[2017-03-11 04:19] ibrokemypie opened #25 "Duplicate Kill Plugins"
<img width="443" alt="screen shot 2017-03-11 at 3 17 20 pm" src="https://cloud.githubusercontent.com/assets/7827846/23820508/f3fd5fde-066d-11e7-8d46-6b513df6830b.png">
Why are there two "Kill" plugins? Is there a functional difference between them? Which should be used?

[2017-03-11 04:32] ibrokemypie opened #26 "Fallback Searches"
Like in Alfred, allow the top result when typing something to instead search the query in default search of default browser unless there is an exact result/historically chosen result.

[2017-03-11 16:10] w0lfschild commented on #17
@Ngalstyan4 I'm not sure if there's more to say then what I posted above.

I've already fixed the issue for the next build.

_FlashlightPluginEngine.m
[code]

[2017-03-19 23:06] #10 closed, assigned to w0lfschild

[2017-03-20 17:46] josephholsten opened #27 "get blessed or rename fork"
See https://github.com/nate-parrott/Flashlight/issues/570

[2017-03-28 04:55] w0lfschild commented on #27
That would be nice. I could certainly rename this but very little has changed from the original work.

[2017-03-28 12:53] ibrokemypie opened #28 "Plugin Repo"
I propose removal of the inbuilt plugins and moving them all to a separate github repo with numerous members who may accept pull requests. This makes it easier for people to make their own changes and editions + updates to plugins more easily without requiring forking the who of Flashlight, and can make a cleaner, more manageable collection, all together. Somewhat like homebrew and cask.

[2017-04-07 21:27] vin047 commented on #17
Temporary fix based on @w0lfschild comments.

Replace `Flashlight.app/Contents/Resources/SpotlightSIMBL.bundle` with the attached bundle. Seems to be working for me with no issues so far.

[SpotlightSIMBL.bundle.zip](https://github.com/w0lfschild/Flashlight/files/906907/SpotlightSIMBL.bundle.zip)

[2017-04-07 22:19] vin047 commented on #17
Spoke too soon - seems to be crashing on my other Mac 😢

@w0lfschild any ETA on a fix?

[2017-04-09 07:12] w0lfschild commented on #17
Should be fixed in the latest release.

[2017-04-09 07:12] w0lfschild commented on #7
Should be fixed in the latest release.

[2017-04-09 07:14] #7 closed, assigned to w0lfschild

[2017-04-09 07:14] #17 closed, assigned to w0lfschild

[2017-04-12 01:18] funkyLover commented on #17
@w0lfschild great work! thank you!

[2017-04-16 00:49] w0lfschild commented on #28
The project would need to be reworked. I've really only been maintaining the SIMBL bundle to keep it from crashing.

Doubt this is something I'd be willing to do. As the effort vs payoff ($0) wouldn't be worthwhile to me as I personally don't have any need for what you're suggesting.

If someone want to fork this and implement that they could.

[2017-06-04 23:52] zhenyulin opened #29 "plugins not working after SIMBL installed"
disabled SIP and installed SIMBL, in Spotlight when typing `text someone something`, it shows a preview but won't do anything when I hit the enter. Is there something I missed during the setup?

[2017-06-15 04:31] ghost commented on #29
experiencing the same issue... bump
btw INCREDIBLE WORK HERE w0lfschild! missed flashlight sooo much!!!!

[2017-06-19 02:34] chenghuzi opened #30 ""Enter" does not work"
When using plugins like bing search and baidu search, they tell me to enter to see the results in the browser. But nothing happened after I pressed "enter".

[2017-06-19 21:34] zhenyulin commented on #29
has anyone identified the cause for this?

[2017-07-18 15:43] iiiGerardoiii commented on #30
I don't have any search plugins for Flashlight installed to reproduce your issue, but you could press Cmd+B to send the typed text to your browser's search engine. This workaround comes by default on Spotlight but it's not well known.

[2017-08-07 12:19] bbbenji commented on #20
@hh253996728

`patch -p1 < weather.diff`

[2017-08-07 12:44] bbbenji opened #32 "Crashing when attempting to install new command"
Crash report: https://hastebin.com/izihupatef.go

[2017-09-13 12:04] elnygren opened #35 "Flashlight commands suddenly not working in 10.12.6 Spotlight"
I've followed all instructions in this repository and I got Flashlight working. However, suddenly today none of my Flashlight commands are working (none of the commands are found in Spotlight, only standard Spotlight search results).

How do I debug this? Anything I should be looking for in Flashlight, mySIMBL or some logs somewhere?

[2017-09-28 06:21] limitLiu opened #36 "Some plugins can't work on macOS 10.13"
All plugins are ok on macOS 10.12.6, but on macOS 10.13, some plugins can work, others can't work.

[2017-10-01 22:41] chenghuzi commented on #36
It seems that almost all plugins can not work.

[2017-10-03 17:09] zhongqin0820 commented on #35
me too,  and i can't install SIMBL..
![](http://ovnuv29fq.bkt.clouddn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202017-10-04%2001.02.09.png)

[2017-10-09 05:27] limitLiu commented on #35
@zhongqin0820  On macOS 10.12.6, you can disable csrutil to install SIMBL. How to disable csrutil? Google it.

[2017-10-16 06:30] imYerik commented on #36
It seems that almost all plugins can not work. sad :(

[2017-10-19 12:56] fuorviatos commented on #36
Sadly, almost all of them do not work and the dev of flashlight stated openly he's not gonna work on fixing them.

[2017-10-21 19:48] ghost commented on #36
@fuorviatos Where did w0lfschild say that?

[2017-12-08 06:42] czjxy881 commented on #36
+1

[2017-12-10 06:45] mapping77 commented on #36
Well, the same problem, it seems all plugins don't work.

[2017-12-15 00:20] samurban1 opened #38 "Request Timed Out"
After pressing Install on any plugin, after a minute or so an error message pops up saying "Request timed out" and the plugin does not get installed.
<img width="625" alt="screen shot 2017-12-14 at 4 18 12 pm" src="https://user-images.githubusercontent.com/28639060/34020735-aee5a5ca-e0ea-11e7-8219-300b0369881d.png">

[2017-12-15 09:19] technolingo commented on #36
This is the problem with open source software. Make it commercial and I would definitely buy it.

[2018-01-04 23:20] mkormendy commented on #36
Yeah I'd pay $20 for it.

[2018-01-07 19:59] w0lfschild commented on #36
Unfortunately I don't really know much about the plugins. This was mainly just meant to fix a few issues that were causing the application to crash.

For me to really do work on this the project would need to separate itself from the original Flashlight servers because right now I can't even push pull request for plugins because the application is pulling from the original server.

I'd gladly take

[2018-01-27 06:39] eruffaldi opened #39 "Provide a search UI for using Flashlight plugins outside of Spotlight in SIP cases"
Flashlight has many interesting and useful features thanks to plugins but at the same time I am not going to disable SIP for installing SIMBL.

I think that it would be great to make a simple UI that triggers a search box directly controlled by Flashlight. This would allow to reuse all the great work done by plugin developers in the past.

Best Regards,
Emanuele Ruffaldi

[2018-01-27 16:36] lincolnaleixo commented on #39
agree

[2018-01-27 18:45] w0lfschild commented on #39
Why not just use something like [Alfred](https://www.alfredapp.com/) if you're not going to use the native Spotlight?

[2018-01-28 13:48] ghost commented on #39
@w0lfschild This. The best part of Flashlight is that it improves Spotlight, not replaces it.

[2018-02-06 11:56] davronakil opened #40 "SIMBL install failed! (High Sierra)"
Trying to get Flashlight to work to no avail. SIMBL runs, but will not install. Attaching a screenshot.

<img width="729" alt="screen shot 2018-02-06 at 19 56 31" src="https://user-images.githubusercontent.com/3535504/35858568-db9fc21e-0b77-11e8-8f89-00265b9cd0d6.png">

[2018-02-06 13:57] yannicklamprecht commented on #40
Did you deactivated SIP?
https://apple.stackexchange.com/questions/208478/how-do-i-disable-system-integrity-protection-sip-aka-rootless-on-macos-os-x

[2018-03-15 10:31] krystofcelba commented on #36
Hi,
I have investigated a bit why plugins do not work on macOS 10.13 and seem I got it finally works again.

- PR -  #41
- New build with fix  - [Flashlight v1.0.7](http://bit.ly/2GsH6g1).

Feedback welcomed.

![Flashlight macOS 10.13](https://user-images.githubusercontent.com/250009/37461110-a640e902-284d-11e8-87ec-f845d4ac86f6.gif)

[2018-03-15 15:26] w0lfschild commented on #36
Dang that's 🔥. I'll check it out this weekend and as long as it doesn't break prior compatibility I'll merge it and put out an update.

[2018-03-15 20:42] waxfingers commented on #36
Seems to be working (macos 10.13.3)... so cool and I had given up on Flashlight and MySimbl, back from the dead and hungry as hell!!! Thank you @krystofcelba and @w0lfschild 🐙⚡️🍄🌱🐉

[2018-03-15 21:42] krystofcelba commented on #36
@w0lfschild I've just tested it on macOS 10.12 and seems work well too. Unfortunately, I don’t have access to an older system where I could prove it. I could probably add some runtime checks, so it uses the old methods in case the new ones are not available.

@waxfingers Good to hear 🙂. In my opinion, there isn't still anything which could concur Flashlight. I'm thinking of that would be great to

[2018-03-15 22:17] waxfingers commented on #36
Yup REloAD alright!! I got drunk and lost, went on knocking at zazu, cerebro, alfred, lacona and even launchbar's door... just to end up drinking alone in a cold, empty alley... there's something about flashlight, a dynamic sparkle, something about the way it crawls and wants to live through the OS' mother tree... that is beautiful, frightening, inspiring and unique... well maybe it's just me 🐒{em

[2018-03-15 23:21] mkormendy commented on #36
What the hell?

[2018-03-16 00:22] krystofcelba commented on #36
@w0lfschild  I've committed some changes, it now checks the OS version and reloads the results differently only on ^10.13, so it now shouldn't break anything in prior OS versions hopefully 🙏.

@waxfingers  I've thought that I’m reading part of [_Howl_](https://www.poetryfoundation.org/poems/49303/howl) for a little while 👍 😅. But I think that I had very similar experience.

[2018-03-16 11:46] faicker commented on #36
work like a charm for 10.13.3 😄

[2018-03-16 12:53] chenghuzi commented on #36
@krystofcelba  Thanks for doing this! I've test the new build, and it works well with my MBP2015. But after a restart, the flashlight start not working again. Such thing happened occasionally before flashlight didn't work on macOS 10.13. Do you have any idea on this issue?

System info:
macOS 10.13.4 Beta

Update:

After reinstalling flashlight (re-init SpotlightSIMBL), all plugins works well. The

[2018-03-16 15:44] tsimmons commented on #36
I haven't been able to build Flashlight; I tried cloning the project and checking out your PR (#41) but when I try to build, I get errors:

[code]

This is on Sierra using XCode 9.2. Any advice?

[2018-03-16 22:43] YonatanAhituv commented on #36
@tsimmons you need to run the python script in the root directory. You'll need to remove the code for signing flashlight though. Had the same issue at first.

[2018-03-17 03:57] technolingo commented on #36
Do I also need to install Xcode?

[2018-03-17 04:50] technolingo opened #43 "Cannot Stop Music from Playing"
If you open a music website (e.g. douban.fm) in Spotlight/Flashlight, the music will continue to play in the background even after you clear the search text.

Only way to stop it is to log out your computer, and then log back in.

[2018-03-17 18:40] #39 closed, assigned to nobody

[2018-03-17 19:37] w0lfschild commented on #36
The update by @krystofcelba is now live so all you need to do is update in app or download the latest version from my repo.

[2018-03-17 19:38] #32 closed, assigned to w0lfschild

[2018-03-17 19:39] #30 closed, assigned to w0lfschild

[2018-03-17 20:05] w0lfschild commented on #25
Dunno. I don't host the plugins that's still [Nate Parrott](https://github.com/nate-parrott).

[2018-03-17 20:06] #9 closed, assigned to w0lfschild

[2018-03-17 20:06] #13 closed, assigned to w0lfschild

[2018-03-17 20:06] #14 closed, assigned to w0lfschild

[2018-03-17 20:06] #20 closed, assigned to w0lfschild

[2018-03-17 20:06] #25 closed, assigned to w0lfschild

[2018-03-17 20:06] #29 closed, assigned to w0lfschild

[2018-03-17 20:06] #35 closed, assigned to w0lfschild

[2018-03-17 20:10] w0lfschild commented on #38
Hmm maybe the server the plugins are hosted on was down. Seems to work fine for me.

[2018-03-17 20:10] #38 closed, assigned to w0lfschild

[2018-03-17 20:10] w0lfschild commented on #40
This is a mySIMBL issue not Flashlight.

[2018-03-17 20:10] #40 closed, assigned to w0lfschild

[2018-03-18 15:11] J7mbo commented on #9
@w0lfschild I saw this was closed 19 hours ago.

I reinstalled the plugin. Still no data shows with a very simple ping. Very latest version of Mac OS.

[2018-03-18 15:13] J7mbo commented on #9
![screen shot 2018-03-18 at 16 12 56](https://user-images.githubusercontent.com/2657310/37567448-5b4d8078-2ac7-11e8-8aad-444da1741845.png)

Will this not actually run *within that black window* there??

[2018-03-18 16:32] w0lfschild commented on #9
No unfortunately not, you have to click enter/return and it will open in a new Terminal window.

[2018-03-22 15:34] mkormendy commented on #36
Does this also fix the other plugins? FullscreenER seems to not be working still.

[2018-03-25 22:44] w0lfschild commented on #36
@mkormendy

This project does not have to do with mySIMBL plugins. Also FullscreenER does work on 10.13.4 so the issue is probably on your end.

[2018-03-28 22:08] jcadogan commented on #36
So I loved the flashlight with the simple install, and would love to use the updated one by @krystofcelba but am very new to the whole GitHub scene. Can anyone point me in the direction of a guide or any tips on how to install the updated version? I LOVE Flashlight, and would love to get it working on high sierra!

[2018-03-28 23:42] YonatanAhituv commented on #36
@jcadogan Just follow the instructions in the README. The fix is out.

[2018-03-30 15:10] AtomicCoding commented on #36
@w0lfschild Can this issue be closed?

[2018-03-30 17:45] #36 closed, assigned to w0lfschild

[2018-04-02 00:32] ddiazescandon opened #44 "Mac OS 10.3.4"
I'm not sure if it is not working or I'm just a noob
SIP is off
MySIMBL is up and running
![screen shot 2018-04-01 at 19 31 13](https://user-images.githubusercontent.com/10009779/38179000-56ed5680-35e3-11e8-917d-08640ef88cc3.png)
![screen shot 2018-04-01 at 19 30 52](https://user-images.githubusercontent.com/10009779/38179010-72621130-35e3-11e8-87db-a93f560494c7.png)

But Flashlight says some pack

[2018-04-18 10:11] dkgrieshammer commented on #44
Same for me, also 10.3.4

[2018-05-01 09:27] Gudsfile commented on #44
Same for me

[2018-05-18 01:14] YonatanAhituv commented on #3
@coreonyx The weather plugin is the one unfixable plugin, at least, easily, `openweathermap`, what the plugin uses requires an API key. I've been able to fix it with my own API key. But personal ones have limitations and commercial ones are expensive.
But, either way, MacOS has it's own weather info in spotlight now, so why continue working on a seperate one?

[2018-05-20 06:02] samlowry commented on #36
@krystofcelba High Sierra 10.13.4, all installed by readme but not works. Rebooted for sure.

BTW, is mySIMBL.app have to ask permissions for upgrading some components every start? Is it normal?

[2018-05-20 15:58] w0lfschild commented on #36
@samlowry If it's asking every start then it's probably failing to install the components in the first place, without the mySIMBL aspect fully installed Flashlight wont work at all.

[2018-06-20 08:20] majid701 opened #46 "Mac os 10.14 (Mojave) Beta"
Can't open flashlight crashes on launch.

Stacktrace below:

`
Process:               Flashlight [73525]
Path:                  /private/var/folders/*/Flashlight.app/Contents/MacOS/Flashlight
Identifier:            com.nateparrott.Flashlight
Version:               1.0.8 (62)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Flashlight [73525]
User ID:

[2018-08-12 23:35] d4hines commented on #36
@w0lfschild, I'm having the same issue as @samlowry on 10.13.6 - I've installed mySimbl, but it asks for permissions every time

![screen shot 2018-08-12 at 7 32 33 pm](https://user-images.githubusercontent.com/25231383/44007590-83de10ee-9e66-11e8-937f-fa7711ffa8ad.png)

And no flashlight plugins seem to work
![screen shot 2018-08-12 at 7 33 50 pm](https://user-images.githubusercontent.com/2523138

[2018-08-13 07:56] MrDavidG commented on #36
@w0lfschild @d4hines, the same issue with you, and my version is also 10.13.6.

[2018-08-16 10:06] nooorris commented on #36
@w0lfschild @MrDavidG I got the same problem, and my version is 10.13.1

[2018-10-07 03:37] ThatsJustCheesy commented on #46
With a quick bit of fiddling, I managed to avert this crash by deleting the "Custom View" toolbar item out of the "Window" in MainMenu.xib. Note that I don't actually know what this item does; deleting it obviously isn't the best way to fix this, but it's the easy way. Might investigate how to do it properly and do a PR soon, unless @w0lfschild fixes it first.

[2018-10-07 04:10] w0lfschild commented on #46
@ThatsJustCheesy A PR would be great, I'm pretty busy ATM so won't have time to personally look into the issue for at least a month or more.

[2018-10-23 20:44] bachmx commented on #46
I have same problem. But i can find "Custom View" toolbar item in MainMenu.xib.

[2018-10-28 09:56] rdewolff commented on #46
Any update on this? Would love to use this on Mojave!

[2018-11-03 20:50] #46 closed, assigned to w0lfschild

[2018-11-03 21:26] w0lfschild commented on #44
Is the latest version working?

[2018-11-03 21:31] w0lfschild commented on #46
Update is live, you'll need to manually download it if you're on Mojave because it crashes before it can update.

https://github.com/w0lfschild/app_updates/raw/master/Flashlight/Flashlight_master.zip

[2018-11-04 09:36] rdewolff commented on #46
Thanks @w0lfschild it works!

[2018-11-12 15:30] dkgrieshammer commented on #44
Didn't try on Mojave yet; anybody tried it?

[2018-11-12 20:04] waxfingers commented on #44
I'm pretty sure that thumbs up above means (at least) 3 confirmations. Just not to add more confusion: I'm **on 10.14.1 and it is working**; I have still not tested with SIP re-enabled; I'm also running XtraFinder. From MySimbl almost all the plugs I've tested do work but Fullscreener and GlobalNoWindoTitle... WinBuddy seems to have some issues too (after a while it freezes the system), this could

[2018-11-21 17:04] trevorwelch opened #48 "Flashlight commands not working in 10.12.6"
I saw https://github.com/w0lfschild/Flashlight/issues/35 and made sure to `csrutil disable` from the Recovery terminal. Tried reinstalling and restarting a couple of times.

[2018-11-27 18:53] tsimmons opened #51 "Update Flashlight to use environment Python instead of hardcode /usr/bin/python"
I've tried to build Flashlight myself (I get to the linking stage and the linker dies on missing library/directories for GRMustache, JSSwizzle, LetsMove and Pods) ... I was just trying to modify FlashlightResult.m to use  https://github.com/w0lfschild/Flashlight/blob/master/FlashlightApp/FlashlightKit/FlashlightKit/FlashlightResult.m#L54

    task.launchPath = @"/usr/bin/env python";

in order to

[2018-11-29 20:16] AnthoPakPak opened #52 "Can't get it to work on Mojave 10.14.1"
Hi @w0lfschild !

I've been using Flashlight a lot on High Sierra. I've just made the update to Mojave since I've seen successful installation reports of Flashlight.
But unfortunately, I can't get it to work… Did I miss something ?

I've tried disabling SIP, even if it wasn't require on High Sierra, but it didn't help.
I've also tried uninstalling mySIMBL and Flashlight then reinstall, still doesn

[2018-11-29 20:46] AnthoPakPak commented on #52
I've just got it to work by disabling AMFI. I've already tried before but as SIP was still enabled it could toggle AMFI.
And from what I see, mySIMBL now requires both to be disabled…
Can you confirm that plugins (especially Flashlight) can't work with SIP enabled ?…

Thanks.

[2018-12-01 02:23] w0lfschild commented on #52
On Mojave nothing will work with SIP enabled.

[2018-12-01 18:45] AnthoPakPak commented on #52
Too bad… Thanks for your answer and keep up the great work 💪

[2018-12-01 18:45] #52 closed, assigned to nobody

[2018-12-28 16:46] ghost-bub commented on #48
I can second this. Actually, spotlight as it is now is practically broken for me. When I try to type anything more than 5 characters, spotlight disappears and the menu bar adjusts as if something is trying to be added to it, but then it reverts to normal.

I'm going to try uninstalling and reinstalling but this is not encouraging...

[2018-12-28 17:24] tsimmons commented on #48
@ghost-bub You might try unticking "Bookmarks & History" in the Spotlight preferences; that was my primary issue with crashing Spotlight in Sierra -- see [this link](https://discussions.apple.com/thread/8546951) for more details.

[2018-12-28 19:05] ghost-bub commented on #48
@tsimmons That worked to a T. Glad to have Flashlight + Spotlight working again. Everything appears stable on my end, I'm able to do what I was on 10.11.6 so far.

[2019-01-06 10:35] suarezzz opened #55 "many plugins do not work properly on Mojave 10.14.2"
I have disabled SIP and Flashlight can be invoke in my spotlight.
- System: 10.14.2
- mySIMBL: 0.7.1
- Flashlight: 1.1.0

but many plugins don't work properly：
- slack
- imessage
- note
- ... etc

em, so many plugins (do not run 'run' function, liked can not 'enter'). But they work well in FlashlightTool.

So sorry, I don't know where to find meaningful logs.  If needed, please tell me, I will try

[2019-01-06 14:25] suarezzz commented on #55
Finally, I find it work properly after I delete SpotlightSIMBL in mySIMBL and reopen flashlight(which will add a new SpotlightSIMBL in mySIMBL)

Hope it will be helpful to those who have the same problems as me.

The issue can be closed.

[2019-01-23 14:57] tsimmons opened #56 "app_updates repository is disabled, cannot download Flashlight"
It appears Github has disabled your app_updates repo so the latest Flashlight cannot be downloaded.

[2019-02-02 07:47] w0lfschild commented on #56
Fixed.

[2019-02-02 07:47] #56 closed, assigned to nobody

[2019-02-27 13:24] ehausen commented on #52
@AnthoPakPak How did you manage to disable AMFI? When I try to click. This happens:
![image](https://user-images.githubusercontent.com/6204129/53493227-88295080-3aa3-11e9-8e83-6281c7828981.png)

[2019-02-27 13:27] AnthoPakPak commented on #52
@ehausen Hum, can't remember… Maybe try rebooting and retry. I ended up using Alfred instead of Flashlight because of SIP.

[2019-03-26 19:05] zoharargaman opened #58 "Search Hidden Files Plugin"
Love Flashlight.

spotlight doesn't search system files and hidden files.
can a plugin to search it be written for flashlight?

[2019-03-27 17:11] thearkadia opened #59 "Why is there no mention of disabling SIP in the readme?"
title

[2019-05-13 03:16] gzqx opened #60 "Flashlight don't work after reboot on Mojave 10.14.4"
Flashlight worked properly after first installation but after a reboot it stopped working.
On Mojave 10.14.4 and with SIP disabled.
Have tried reinstall both SIMBL and Flashlight

[2019-05-13 03:38] gzqx commented on #44
It seems to not be working on 10.14.4

[2019-05-28 17:48] mikadocat commented on #60
It works fine for me. Take a look at:

System Preferences>Security & Privacy>Privacy>Automation

Do you have 'Spotlight' check marked under 'mySIMBL.app'?

[2019-05-28 18:42] gzqx commented on #60
Yes, I do......
Another reinstall and reboot suddenly solved all the problems. That's weird ..... any way thank you very much.

[2019-05-28 18:42] #60 closed, assigned to nobody

[2019-07-03 16:01] LeonWiese opened #61 "Some images are not loading"
I have some rendering issues with e.g. google maps rendering properly.
Down below are some examples. Can someone help me out?
I'm on Mojave 10.14.5 running Flashlight 1.1.2.

<img width="671" alt="Screenshot 2019-07-03 at 17 49 09" src="https://user-images.githubusercontent.com/29658194/60606711-244dc600-9dbc-11e9-9e6e-90f2a8072b9a.png">
<img width="672" alt="Screenshot 2019-07-03 at 17 50 52" src

[2019-07-24 12:44] leifniem opened #62 "Installing Plugin crashes Flashlight"
Clicking the install button crashes the app completely. Inbuilt commands do work.
This happens no matter which plugin i try.
SIP is disabled, SIMBL is working.

Error log can be found here: https://gist.github.com/leifniem/9db5187913e818d7ebbc1a84b08d6f79

Thank you for your great work in macOS customization :)

[2019-09-07 19:45] #55 closed, assigned to nobody

[2019-10-11 15:08] ignatremizov commented on #51
I have the same request! I was trying to figure out why my modified plugin wasn't running at all, found out it was running the system's default Python 2.7.16 and not my brew's python version 3.7.4.

As an idea, maybe it could be possible to specify the Python executable for the script as part of the info.json file? Or is that impossible without an update to all of the Python code within Flashlight

[2019-10-11 16:32] ignatremizov opened #63 "Commands do not run after some word length is hit"
Just downloaded the App, and the previews for a lot of plugins work great! The problem I'm hitting is that there seems to be a strange word length limit for running commands, like when I hit "enter" nothing happens, based on the word lengths. The query can be as long as I want, but if any word is past some arbitrary byte data limit (I'm assuming) it just doesn't work anymore.

Example queries that

[2019-11-01 23:25] tsimmons opened #64 "Stopped working after Macforge installed on Mojave"
Flashlight was working fine under Sierra, version 1.1.0 of Flashlight and whatever the latest release of mySimbl was. I upgraded from Sierra to Mojave and Flashlight worked most of the time (occasionally had to disable and reenable because it would bugger up Spotlight results occasionally, but that was typical under Sierra as well.)

I thought that maybe I should update to the new Macforge way of

[2019-11-02 15:19] tsimmons commented on #64
Additionally: Mojave v10.14.6; SIP and AMFI are disabled; MacForge BETA v0.13.1 (2349); Flashlight v1.1.0;

[2019-11-04 10:29] sandrophoto opened #65 "Update for Catalina"
Hello, sadly this stopped to work after Catalina install :(
Is it planned to update Flashlight for Catalina ?
I hope so.

Thank you sooo much for this.

[2019-11-14 05:06] w0lfschild commented on #64
I'm guessing maybe the file

`/Applications/Flashlight.app/Contents/Resources/SpotlightSIMBL.bundle`

Needs to be placed in

`/Library/Application Support/MacEnhance/Plugins/`

[2019-11-14 05:11] w0lfschild commented on #65
Yeah I looked into it a bit. Didn't see any easy fix but I could be misguided.

If someone else manages to fix it I'll gladly merge a PR and push out an update though.

Since this project seems to still be fairly popular **_I'll throw a $25 bounty on this issue_**.

[2019-11-14 12:45] tsimmons commented on #64
I’ll give that a try and post back. Are there advantages (other than getting on the current project) to using MacForge over mySIMBL if all I use is Flashlight?

[2019-11-15 00:32] w0lfschild commented on #64
The advantage is that mySIMBL is no longer supported and as far as I know it doesn't work on Catalina. Any issues with mySIMBL will not be fixed.

[2019-11-28 13:04] xyjigsaw commented on #65
I wanna try it.
Wound mind teach me how to import this to Xcode?

[2019-11-28 17:25] w0lfschild commented on #65
@xyjigsaw

I'm afraid that if you don't know how to download and open a project in Xcode it might be a lost cause to bother trying. Regardless here's how to open the project.

On the repo main page click clone or download and download a zip of the project. Then open up Flashlight.xcworkspace

The plugin scheme is called SpotlightSIMBL.

[2019-11-28 17:41] WilixLead commented on #65
It requires any changes in SDK usage or in permission requests or it just related to recompile to latest kernel version?
PS: Flashlight still require disabling SIP ?

[2019-11-28 18:04] w0lfschild commented on #65
@WilixLead

Erm wouldn't say it's exactly SDK usage. More like changes have been made to Spotlight that break compatibility. So most likely either class names or implementation of something has changed. This would require some level of reverse engineering and or knowledge of Objective-c

Here's the headers of the latest version of Spotlight: https://github.com/w0lfschild/macOS_headers/tree/master/

[2019-12-01 14:19] tsimmons commented on #64
Manually copying

`/Applications/Flashlight.app/Contents/Resources/SpotlightSIMBL.bundle`

to

`/Library/Application Support/MacEnhance/Plugins/`

did the trick (I just used Finder to copy it.) Thanks.

[2019-12-01 14:19] #64 closed, assigned to w0lfschild

[2019-12-15 06:33] #23 closed, assigned to w0lfschild

[2019-12-15 07:09] w0lfschild commented on #59
Done

[2019-12-15 07:09] #59 closed, assigned to w0lfschild

[2019-12-15 07:10] #44 closed, assigned to w0lfschild

[2019-12-15 07:10] #27 closed, assigned to w0lfschild

[2019-12-15 07:11] #48 closed, assigned to w0lfschild

[2019-12-15 07:12] #28 closed, assigned to w0lfschild

[2019-12-15 07:12] #58 closed, assigned to w0lfschild

[2019-12-15 07:13] #3 closed, assigned to w0lfschild

[2019-12-15 19:00] zoharargaman commented on #58
? so is there a new plugin?

[2019-12-15 19:24] w0lfschild commented on #58
That's not something Flashlight would be capable of doing.

[2019-12-25 22:22] WilixLead commented on #65
I start research this problem. So I found this line
`osascript -e 'tell application \"Spotlight\" to inject SIMBL into Snow Leopard'`
This command return code -2740 in my system. As I understand we need inject SIMBL bundle to Spotlight process but now in throws error. I don't find any other places in Flashlight where this bundle can be loaded. I think we need fix this AppleScript for success injec

[2019-12-27 21:23] w0lfschild commented on #65
@WilixLead

The issue is not loading the bundle. You can use MacForge for that.

[2019-12-28 13:04] WilixLead commented on #65
Has any way for load this bundle without MacForge? For make Flashlight independent from MacForge

[2019-12-28 22:43] w0lfschild commented on #65
@WilixLead

Flashlight has always required a loader. Also as I said above that doesn't have anything to do with it not working on Catalina.

[2019-12-28 22:47] WilixLead commented on #65
@w0lfschild Yea... I already got it. May be you can say few words about how I can connect to injected bundle for debugging? :)

PS: I already inject Flashlight and Spotlight now crush. I try attach debugger to Spotlight after injecting bundle and Spotlight always throws ACCESS error exception. So I just see ASM code.

[2019-12-31 21:38] w0lfschild commented on #65
Resolved in : https://github.com/w0lfschild/Flashlight/pull/66

Update will be out soon.

[2019-12-31 21:38] #65 closed, assigned to w0lfschild

[2019-12-31 21:39] w0lfschild commented on #51
Resolved in : https://github.com/w0lfschild/Flashlight/pull/66

Update will be out soon.

[2019-12-31 21:39] #51 closed, assigned to w0lfschild

[2020-03-20 14:07] bumbie opened #67 "Google search engine please"
quick web search lead me to bing and I don't use that thing. HA HA.

[2020-04-07 08:27] li-yuening opened #68 "Results do not update while typing 10.15.4+"
**OS:** 10.15.4
**Verision:**
MacForge: 0.14.1(2826)
Flashlight: 1.2.0

<img width="792" alt="截屏2020-04-07 下午4 21 52" src="https://user-images.githubusercontent.com/12383502/78646618-e605aa00-78eb-11ea-92d6-417771bb3b62.png">
The param `20 words` cannot be passed to the plugin immediately.
The plugin works fine in debug tool.
<img width="838" alt="截屏2020-04-07 下午4 25 10" src="https://user-images.g

[2020-04-09 14:16] chrismatheson opened #70 "Nothing happening after install"
I’ve had a quick look through the issues but can’t seem to see anyone with a similar problem.

I downloaded and ran v1.2 and the app itself comes up fine, however none of the triggers do anything in spotlight.

Have I maybe missed an installation step?

Thanks in advance for any help!

[2020-04-09 18:22] kasperii commented on #70
_I wonder the same! Downloaded and all, but nothing is different in spotlight._

Edit: never mind, it is working now

[2020-04-09 23:57] w0lfschild commented on #70
What version of macOS?

[2020-04-10 07:07] chrismatheson commented on #70
@w0lfschild I read it, but glossed over. I think this might be a result of SIP ? I haven't disabled mine, as much as a REALY want to extend Spotlight, I think disabling SIP globally (instead of for this single application) seems too risky for me.

Edit: sorry I dint answer your question 10.14.6

[2020-04-10 07:10] chrismatheson commented on #26
@ibrokemypie "quick web search" plugin looks like it does this?

I suppose slightly different as it requires a leading slash ....

[2020-04-14 00:47] AlbertoMontalesi commented on #70
Same here, installed but nothing comes up on Spotlight. Macos 10.15.4

[2020-04-20 03:51] ZhenningLang commented on #70
Similar problem, macOS Catalina, ver 10.15.4

[2020-04-26 05:39] tim-kim commented on #68
+1
I'm seeing the same issue on 10.15.4 OS version. GoogleTranslate plugin will not refresh the webpage to actually show the translation. Either shows no results or only captures the first letter:

<img width="666" alt="Screen Shot 2020-04-25 at 10 34 48 PM" src="https://user-images.githubusercontent.com/18359197/80298933-9fb2a680-8745-11ea-824b-808043ae25df.png">

[2020-04-27 19:41] w0lfschild commented on #68
Yeah, not sure if/when a fix will come but I'm definitely aware of this.

[2020-09-06 13:26] rikhoffbauer commented on #70
experiencing the same on macOS 10.14.6 with SIP disabled

@w0lfschild any updates on this?

[2020-09-06 17:14] w0lfschild commented on #70
Have you installed MacForge?

[2020-09-06 17:15] #67 closed, assigned to w0lfschild

[2020-09-12 15:53] rikhoffbauer commented on #70
@w0lfschild yes I have installed the latest version of MacForge

[2020-10-04 04:42] lachlancresswell commented on #70
I'm experiencing the same issue. MacForge is installed. Flashlight is installed. I can open and download commands. Opening Spotlight and typing "emoji grin" returns nothing except regular Spotlight results. I've disabled SIP and Library Validation, though, there isn't any information in the readme on whether or not this is required. This is on 10.15.7.

EDIT:
Managed to get it working by reinstall

[2020-11-15 19:11] jappyjan opened #71 "Not working on Big Sur"
Installed MacForge
Installed Flashlight via MacForge
Installed Plugins (tested many)
No Plugin Results show in Spotlight...

[2020-11-15 20:37] w0lfschild opened #72 "Big Sur : The end of Flashlight"
There will be no support moving forward for future macOS releases.

Significant changes have been made to Spotlight in Big Sur add that on top of the fact Flashlight was already partly broken in recent releases, around 10.15.4 and beyond, I've decided to discontinue my efforts in this project. There are also not many users 387 on v1.2 according to analytics.

It will remain open source and anyone

[2020-11-15 20:38] #26 closed, assigned to w0lfschild

[2020-11-15 20:38] #43 closed, assigned to w0lfschild

[2020-11-15 20:38] #61 closed, assigned to w0lfschild

[2020-11-15 20:38] #62 closed, assigned to w0lfschild

[2020-11-15 20:38] #63 closed, assigned to w0lfschild

[2020-11-15 20:40] w0lfschild commented on #71
There will be no support moving forward for future macOS releases.

Significant changes have been made to Spotlight in Big Sur add that on top of the fact Flashlight was already partly broken in recent releases, around 10.15.5 and beyond, I've decided to discontinue my efforts in this project. There are also not many users 387 on v1.2 according to analytics.

It will remain open source and anyone

[2020-11-15 20:40] #71 closed, assigned to nobody

[2020-11-15 20:49] #70 closed, assigned to w0lfschild

[2021-01-05 10:05] noethig commented on #72
Hey @w0lfschild,
do you know about an alternative plugin for spotlight as of Big Sur? Or are you yourself not using this feature on your mac in another way?

[2021-01-05 23:13] w0lfschild commented on #72
@noethig

The alternative is to use an an app like Alfred. There are 5+ types of apps that replicate spotlight to some degree or another.

I can almost say with 100% certainty that no one will make an alternative to Flashlight. macOS modding via code injection is pretty much dead and what semblance of it is left alive Apple is slowly killing with each release.

I can also say with near 100% certai

[2022-07-16 10:09] mnkhprre opened #73 "how to activate"
I couldn't find how to activate it